{% extends "web/base.html" %}
{% load static i18n %}
{% block extracss %}{% endblock extracss %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        {% include 'web/includes/bg.svg' %}
    </div>
    <div class="col-md-4">
        {% include "web/includes/home.content.html" %}
    </div>
</div>
<!-- Scrolltop -->
<div id="kt_scrolltop" class="kt-scrolltop">
    <i class="fa fa-arrow-up"></i>
</div>
<!-- End-->
{% endblock content %}
{% block extrajss %}
{% endblock extrajss %}