{% extends 'auth/base.html' %}
{% load static i18n %}
{% block title %}{% trans "Password reset Done" %}{% endblock %}
{% block content %}
<div class="row">
<aside class="col-sm-4">
</aside> <!-- col.// -->
<aside class="col-sm-4">
<h2>{% trans "Password reset complete" %}</h2>
<div class="card">
<article class="card-body">
<p>
{% trans "Your password has been set. You may go ahead and" %} <a href="{% url 'users:login' %}">{% trans "sign in" %}</a>{% trans " now." %}
</p>
</article>
</div>
</aside>
<aside class="col-sm-4">
</aside> <!-- col.// -->
</div>
{% endblock %}
