{% extends "auth/base.html" %}
{% load i18n static %}
{% block title %}{% trans "Password Reset Form" %}{% endblock %}
{% block content %}
<div class="row">
<aside class="col-sm-4">
</aside> <!-- col.// -->
<aside class="col-sm-4">
<h2>{% trans "Forget Password" %}</h2>
<div class="card">
<article class="card-body">
<form method="post">
{% csrf_token %}
{% for field in form %}
<p>
{{ field.label_tag }}<br>
{{ field }}
{% for error in field.errors %}
<p style="color: red">{{ error }}</p>
{% endfor %}
</p>
{% endfor %}
<button type="submit">{% trans "Submit" %}</button>
</form>
</article>
</div>
</aside>
<aside class="col-sm-4">
</aside> <!-- col.// -->
</div>
{% endblock %}