{% extends "auth/base.html" %}
{% load static i18n crispy_forms_tags %}
{% block title %}{% trans "Reset Password" %}{% endblock title %}
{% block extracss %}{% endblock extracss %}
{% block content %}
<body style="background-image: url('{{STATIC_URL}}web/img/header-1.jpg'); background-position: center top;" 
class="kt-page--loading-enabled kt-page--loading kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loading">
	<div class="kt-grid kt-grid--ver kt-grid--root kt-page">
		<div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v2 kt-login--signin" id="kt_login">
	    	<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
		    	<div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
					<div class="kt-login__container">
						<div class="kt-login__logo">
							<a href="#">
								<img  style="height:80px!important;width: 130px!important;"src="{% static 'web/img/yemek-kalmasin.svg' %}">
							</a>
						</div>
                        <div class="kt-login__head">
                            <h3 class="kt-login__title">
                                {% trans "Forgotten Password ?" %}
                            </h3>
                            {% include "includes/message.html" %}
                            <div class="kt-login__desc">
                                {% trans "Enter your email to reset your password:" %}
                            </div>
                        </div>
                          <form action="" method="POST">{% csrf_token %}
                            <div class="form-group">
                                {{ form.password0|as_crispy_field }}
                            </div>
                            <div class="form-group">
                                {{ form.password|as_crispy_field }}
                            </div>
                            <div class="form-group">
                                {{ form.password2|as_crispy_field }}
                            </div>
                            <button type="submit" class="btn btn-success"><i class="fas fa-key"></i> {% trans "Reset Password" %}</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extrajs %}{% endblock extrajs %}