{% extends 'reseller/base.html' %}
{% load i18n static %}
{% block extracss %}
	<link rel="stylesheet" type="text/css" href="{% static 'reseller/css/change-password.css' %}" />
{% endblock extracss %}

{% block content %}
<div class="card text-center">
  <div class="card-header">
        {% trans "Change Password" %}
  </div>
    <div class="card-body">
    {% include 'reseller/includes/profile/passw.svg' %}

        <form method="post">
            {% csrf_token %}
                {{ form }}
    </div>
    <div class="card-footer text-muted">
            <button class="btn btn-primary" type="submit">{% trans "Change Password" %}</button>
    </div>
        </form>
</div>
{% endblock content %}
{% block extrajs %}{% endblock extrajs %}