{% extends "reseller/base.html" %}
{% load static i18n %}
{% block title %}{% trans "RESELLER" %}{% endblock title %}
{% block extracss %}{% endblock extracss %}
{% block content %}

<div class="kt-container  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="card" style ="width:1340px!important;height:500px!important;background-color:#f9f9fc!important;border-radius:4px;border:transparent;">
             <div class="container">
          
             </div>
        </div>  
    </div>
</div>
{% endblock content %}
{% block extrajs %}{% endblock extrajs %}