{% extends 'auth/base.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "Reset Password" %}{% endblock title %}
{% block content %}
<body style="background-image: url('{{STATIC_URL}}web/img/header-1.jpg'); background-position: center top; " 
class="kt-page--loading-enabled kt-page--loading kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loading">
	<div class="kt-grid kt-grid--ver kt-grid--root kt-page">
		<div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v2 kt-login--signin" id="kt_login">
	    	<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
		    	<div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
					<div class="kt-login__container">
						<div class="kt-login__logo">
							<a href="#">
								<img  style="height: 100px!important;width: 150px!important;" src="{% static 'web/img/yemek-kalmasin.svg' %}">
							</a>
						</div>
                        <div class="kt-login__signin">
							<div class="kt-login__head">
								<h3 class="kt-login__title">{% trans "Yemek Kalmasın Reset Password" %}</h3>
							</div>
                            <div class="control" style="margin: 69px;margin-top: 18px;">
                                <form action="{% url 'reset_password' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="field">
                                        <label style="color: #fff;" for="{{ form.email.id_for_label }}" class="label">
                                            {% trans "Email" %}
                                        </label>
                                        <div style="" class="control">
                                            {{ form.email|add_class:"input formin" }}
                                        </div>
                                        <p class="help is-danger">{{ form.email.errors }}</p>
                                    </div>
                                    <div class="field">
                                        <div class="control kt-login__actions">
                                            <button type="submit" class="newbutton btn btn-pill kt-login__btn-primary button is-link">{% trans "Submit" %}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}